/* alaja web typography, based on blueprint, Beta */

body { font-family: Trebuchet MS, Arial, Sans-Serif; font-size: 87.5%; line-height: 1.66em; }

/* static core */

body { font-style: normal; text-transform: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 0.8em; font-weight: bold; }
p { margin: 0 0 1.5em; }
p img.left { margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { margin: 1.5em 0 1.5em 1.5em; }
blockquote { padding: 0.5em 0 2em 3.5em; font-style: italic; }
strong { font-weight: 800; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }
address { margin: 0 0 1.5em; font-style: italic; }
pre { margin: 1.5em 0; white-space: pre; }
pre, code, tt, input { font: 1em Courier, 'andale mono' , 'lucida console' , monospace; line-height: 1.5; }
li ul, li ol { margin: 0 1.5em; }
ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table { margin-bottom: 1.4em; width: 100%; }
th { font-weight: bold; }
th, td, caption { padding: 4px 10px 4px 5px; }
tfoot { font-style: italic; }

.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
