
/* theme background images */

html { background: url('repeat.bg.jpg') repeat-x top; } /* background repeating image */
body { background: url('center.bg.jpg') no-repeat center top; } /* background center image */

/* links coloring */

a { color: #809d40; } /* text links color */
a:hover { color: #a9a35e; } /* hover color (you can remove this) */
